 body {
          background-image: url("https://wallpapercave.com/wp/wp7854626.jpg");
      }

      .header {
        text-align: center;
      }

      .header h1 {
        text-align: center;
        color: aliceblue;
        font-size: 70px;
        margin-top: 50px;
      }

      .header button {
        text-align: center;
        font-size: xx-large;
        padding-right: 95px;
      }

      .header form {
        color: aliceblue;
        text-align: right;
        font-size: large;
        margin-right: 50px;
      }

      .main {
          flex: 70%;
          padding: 20px;
      }

      .main h1 {
          color: aliceblue;
        text-align: center;
      }
