<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
</head>
<body style="background-color:powderblue;">

<h1 style="text-align:center;">FIT legendy</h1>
<p style="color:red;text-align:center;">My first paragraph.</p>
<p style="background-color:tomato;">My second paragraph.</p>
<a href="https://www.w3schools.com">This is a link</a> <br>
<img src="https://lh3.googleusercontent.com/proxy/SdcESiV2xy7ipEPXuyoRUumvToIJ6Ut7zM5xGrKppP_ktyCVJnpMFTQEQH-vHObW2bftRVomSjy8gQL8MQJ--XsF"
alt="XVagner!" width ="400" height= "400"/> <img src="https://i1.rgstatic.net/ii/profile.image/279489809534982-1443646971627_Q512/Jan-Stary.jpg" width="400" height="400">
<img src="https://pbs.twimg.com/profile_images/1189577670377521154/5n0iCEr3.jpg" width="400" height="400">
<img src="https://fit.cvut.cz/fakulta/lide/profilove/image-thumb__2043__PersonImage/kalvoda-tomas.jpeg" width="400" height="400"> <br>
<tagname>Content goes here...</tagname>


</body>
</html>>