{% extends 'base.html' %}


{% block body %}

{% if user.is_authenticated %}
  <p>You are logged in as {{ user.username }} </p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  <p>Click<a href="{% url 'prefer' %}">here</a> to view recommendations</p>
  <p>Click<a href="{% url 'recommend' %}">here</a> to view recommendations</p>
{% else %}
  <p>You are not logged in</p>
  <p>Click here to <a href="{% url 'login' %}">Log In</a></p>
  <p>Click here to <a href="{% url 'signup' %}">Sign up</a></p>
{% endif %}

{% endblock %}