{% extends 'base.html' %}


{% block body %}

{% if user.is_authenticated %}
  <p style="font-size: x-large;padding-top: 25px">You are logged in as *{{ user.username }}* </p>
  <p style="font-size: large">Click <a href="{% url 'prefer' %}">here</a> to edit preferences</p>
  <p style="font-size: large">Click <a href="{% url 'recommend' %}">here</a> to view recommendations</p>
  <p style="font-size: x-large"><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p style="font-size: x-large;padding-top: 25px">You are not logged in</p>
  <p><a href="{% url 'login' %}">LOGIN</a></p>
  <p><a href="{% url 'signup' %}">SIGN UP</a></p>
{% endif %}

{% endblock %}