<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Preferences</title>
    <style type="text/css">
      .split {
        height: 100%;
        width: 50%;
        position: absolute;
        padding-top: 1%;
      }

      .left {
        left: 0;
      }

      .right {
        right: 0;
      }

      .centered {
        text-align: center;
      }

      form {
        text-align: center;
      }


      .page {
          overflow-y: auto;
          overflow-x: auto;
      }

    </style>
</head>
<body>

<div class="page">
<h1 style="text-align: center;padding-top: 25px;font-family: 'Padauk Book';font-size: 40px">Select books you liked or disliked</h1>

  <div class="split left">
    <div class="centered">
      <ul>
        {% for book in books_part_one %}
      <ul style="font-size: xx-large">{{ book.title }}, {{ book.author }}</ul>
       <div style="display: flex">
        <form method="post" action="{% url 'like_post' %}">
          {% csrf_token %}
          <button type="submit" name="book_like_id" value="{{ book.id }}" style="margin-left: 400px">Like</button>
        </form>

          <br>
        <form method="post" action="{% url 'dislike_post' %}">
          {% csrf_token %}
          <button type="submit" name="book_dislike_id" value="{{ book.id }}" style="margin-left: 20px">Dislike</button>
        </form>
       </div>
        <br>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="split right">
    <div class="centered">
       <ul>
        {% for book in books_part_two %}
         <ul style="font-size: xx-large">{{ book.title }}, {{ book.author }}</ul>
           <div style="display: flex">
            <form method="post" action="{% url 'like_post' %}" >
              {% csrf_token %}
              <button type="submit" name="book_like_id" value="{{ book.id }}" style="margin-left: 400px">Like</button>
            </form>
             <br>
            <form method="post" action="{% url 'dislike_post' %}">
              {% csrf_token %}
              <button type="submit" name="book_dislike_id" value="{{ book.id }}" style="margin-left: 20px">Dislike</button>
            </form>
           </div>
          <br>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</body>
</html>


